@font-face { font-family: 'SDKukdetopokki-Lt'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");

body{
	font-family: 'NanumBarunGothic', sans-serif;
}

 /* justify-content: space-between; */


/**메뉴부분 마우스 오버시 색상 **/
.menu_box li a:hover{
	border-bottom:3px solid #0c4606; 
	padding-bottom:8px;
    color:#0c4606;}
    
/* all */
.sec-header{
    text-align: center;
    padding-top: 150px;
}
.maintitle{
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 20px;
}
.subtitle{
    font-size: 26px;
    color: #fff;
    font-weight: 400;
    padding-bottom: 50px;
    line-height: 130%;
}
.wrap{
    width: 66%;
    margin: 0 auto;
}
.scroll-down{
    text-align: center;
    padding-bottom: 20px;
}

/* section01 */

#section01{
	width:100%;
	height: auto;
	background: url(../images/section01-background.png);
	background-repeat: no-repeat;
    background-position: center;
	position: relative;
}
.menu_box{
	width:100%; 
	height:100px; 
	position:fixed;
	background-color: #fff;
	z-index: 99999999999;
}
.menu_box>nav>ul{
	float : right;
}
.menu_box li{
	float:left;
	text-align:center;
}
	
.logo a{
	float: left;
}
.menu_box img{
	width:110px;
	height: 91px;
}
nav{
	width:66%;
	margin: 0 auto;
}
.menu_box li a{
	color:#000; 
	line-height:100px; 
	font-size: 22px;
	font-family: 'SDKukdetopokki-Lt'
}
.menu_box li+li{
	padding-left: 80px;
}

/* menu_box */
/* 슬라이드 양옆에 < > 넣는거 질문하기  */
.sec01-titlebox{
    font-family: 'SDKukdetopokki-Lt';
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 19.5%;
    padding-bottom: 15%;
}
.sec01-titlebox>h2{
    font-size: 60px;
    text-shadow: 1px 1px 1px black;
    padding-bottom: 30px;
}
.sec01-titlebox>h1{
    font-size: 100px;
    text-shadow: 3px 3px 3px black;
}


/* section02 */

#section02{
    width: 100%;
    height: auto;
    background: url(../images/section02-main.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}
.sec02-con1{
    width: 100%;
    height: 441px;
    background: url(../images/section02-contents01.png);
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    background-size: cover;
    margin-bottom: 50px;
}

/* section02-leftbox */
.sec02-leftbox{
    position: absolute;
    width: 24%;
    left: 0;
    top: 0;
}
.con1-tab_box>li{
    margin-bottom: 1.5px;
}
.con1-tab_box>li{
    display: block;
    line-height: 87px;
    background: rgba(0,0,0,0.75);
    color: #fff;
    padding-left: 10%;
    font-size: 22px;
    font-weight: 400;
}

/* tab_box hover */

.con1-tab_box>li:hover {
    display: block;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(34,34,34,0.9), rgba(34,34,34,0.9), rgba(146,111,52,0), rgba(223,190,106,0));
    background-size: 300% 300%;
    height: 87px;
  }

  
  .con1-tab_box>li:hover {
    border: 1px solid rgba(223,190,106,0);
    background-position: 99% 50%;
  }

/* select-area */

.con1-tab_box>li:nth-child(1){
    display: block;
    line-height: 87px;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    font-size: 22px;
    font-weight: 400;
    padding-left: 30px;
}

/* section02-rightbox */
.rightbox-line{
    width: 80%;
    height: 1px;
    background: #fff;
    margin: 29px 0;
}
.sec02-rightbox{
    position: relative;
    width: 38%;
    left: 24%;
    padding-left: 38%;
    top: 189px;
}
.right-title{
    font-size: 40px;
    font-family: 'SDKukdetopokki-Lt';
    color: #fff;
}
.right-subtitle{
    font-size: 20px;
    color: #fff;
    line-height: 130%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/* section03 */

#section03{
    width:100%;
    height: auto;
    background: url(../images/section03-main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.sec03-article{
    display: flex;
    position: relative;
}

.subtxt-bg{
    width:45%;
    height: 581px;
    background: #e8e4e1;
    margin-left: 1%;
}

.subtxt-bg li{
    line-height: 53px;
    padding-left: 10%;
    font-size: 18px;
    font-weight: 400;
}
.section03-scroll-down{
    position: absolute;
    top: 89%;
    left: 45%;
}

/* section04 */

#section04{
    width:100%;
    height: auto;
    background: url(../images/section04-main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
}
.sec04-article{
    display: flex;
}
.sec04-article>div{
    width: 49%;
    display: flex;
    padding-bottom: 5%;
}
.sec04-article>div+div{
    margin-left: 0.5%;
}
.sec04-contents>div+div{
    margin-left: 1%;
}

.sec04-con1{
    width:100%;
    height: 464px;
    background: url(../images/sec04-con1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec04-con2{
    width:100%;
    height: 464px;
    background: url(../images/sec04-con2.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec04-con3{
    width:100%;
    height: 464px;
    background: url(../images/sec04-con3.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec04-con4{
    width:100%;
    height: 464px;
    background: url(../images/sec04-con4.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec04-con-text{
    color: #000;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    height: 72px;
}
.sec04-con-maintext{
    font-weight: 700;
    padding-top: 8px;
}
.sec04-overlay{
    margin-top: 392px;
    background: rgba(255, 255, 255, 0.8);
    height: 72px;
}

/* section04 hover */

.sec04-contents>div:hover .sec04-overlay {
    display: block;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(15,70,15,0.9), rgba(22,107,22,0.9), rgba(146,111,52,0), rgba(223,190,106,0));
    background-size: 300% 300%;
    height: 70px;
  }

  
  .sec04-contents>div:hover .sec04-overlay {
    border: 1px solid rgba(223,190,106,0);
    background-position: 99% 50%;
  }
  .sec04-contents>div:hover .sec04-con-text{
      color: #fff;
  }


  /* section05 */

#section05{
    width:100%;
    height: auto;
    background: url(../images/section05-main-gaussian+.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.sec05-contents{
    display: flex;
    padding-bottom: 5%;
}
.sec05-contents>div+div{
    margin-left: 1%;
}
.sec05-con1{
    width:100%;
    height: 463px;
    background: url(../images/section05-contents01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sec05-con2{
    width:100%;
    height: 463px;
    background: url(../images/section05-contents02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sec05-con3{
    width:100%;
    height: 463px;
    background: url(../images/section05-contents03.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sec05-overlay{
    background: rgba(255, 255, 255, 0.8);
    height: 75px;
    margin-top: 388px;
}
.sec05-con-text{
    color: #000;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;
    padding-left: 5%;
}

.sec05-con-maintext{
    font-weight: 700;
    padding-top: 8px;
}

/* section05 hover */

.sec05-contents>div:hover .sec05-overlay {
    display: block;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(15,70,15,0.9), rgba(22,107,22,0.9), rgba(146,111,52,0), rgba(223,190,106,0));
    background-size: 300% 300%;
    height: 73px;
  }

  
  .sec05-contents>div:hover .sec05-overlay {
    border: 1px solid rgba(223,190,106,0);
    background-position: 99% 50%;
  }
  .sec05-contents>div:hover .sec05-con-text{
      color: #fff;
  }


/* section06 */

#section06{
    width:100%;
    height: auto;
    background: url(../images/section06-main-gaussian+.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.sec06-map{
    padding-bottom: 2%;
}
.footer{
    width:100%;
    display: flex;
    align-items: space-between;
    color: #fff;
    line-height: 130%;
    padding-bottom: 5%;
}
.footer-toptext{
    font-size: 22px;
    padding-bottom: 10px;
}
.footer-bottomtext{
    font-size: 18px;
}
.footer>div+div{
    padding-left: 4.2%;
}


@media(max-width:1400px){
    /* all */
    .maintitle{
        font-size: 24px;
    }
    .subtitle{
        font-size: 18px;
    }
    .wrap{
        width: 95%;
        margin: 0 auto;
    }
    .sec-header{
        padding-top: 50px;
    }

    /* section01 */

    .sec01-titlebox{
        padding: 26% 0 30% 0;
    }

    /* section02 */
    .sec02-con1{
        height: 350px;
    }
    .sec02-leftbox{
        position: relative;
        top: -45%;
    }
    .sec02-leftbox{
        width: 100%;
    }
    .con1-tab_box>li{
        line-height: 40px;
        font-size: 16px;
        float: left;
        margin: 0 1% 1% 0;
        width: 46.5%;
        padding-left: 3%;
    }
    .con1-tab_box>li:hover {
        border: none;
        height: 40px;
      }
    

    .con1-tab_box>li:nth-child(1){
        line-height: 40px;
        font-size: 16px;
        float: left;
        margin: 0 1% 1% 0;
        width: 46.5%;
        padding-left: 3%;
    }
    .con1-tab_box>li:nth-child(2n){
        margin: 0 0 1% 0;
    }
    .sec02-header{
        padding-bottom: 160px;
    }
    .sec02-rightbox{
        position: absolute;
        width:97%;
        left: 3%;
        padding-left: 0;
        top: 160px;
    }
    .right-title{
        font-size: 30px;
    }
    .right-subtitle{
        font-size: 16px;
    }
    .rightbox-line{
        width:50%;
    }

    
}

@media(max-width:1000px){
    /* section03  */

    .sec03-article{
        flex-direction: column;
    }
    .sec03-map>img{
        width:100%;
    }
    .subtxt-bg{
        width:100%;
        height: 300px;
        margin-left: 0;
        overflow: auto;
        margin-bottom: 5%;
    } 
    .subtxt-bg li{
        padding-left: 3%;
        font-size: 16px;
    }
    .subtxt-bg li:nth-last-child(){
        padding-bottom: 5%;
    }
    .section03-scroll-down{
        top: 90%;
        left: 41.5%;
    }

    /* sectioon04 */
    .sec04-contents{
        flex-direction: column;
    }
    .sec04-contents>div+div{
        margin-left: 0;
        margin-top: 4%;
    }
    .sec04-article>div+div{
        margin-left: 1.8%;
    }
    .sec04-con-text , .sec05-con-text{
        font-size: 16px;
    }

    /* section06 */
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-toptext{
        font-size: 18px;
        text-align: center;
    }
    .footer-bottomtext{
        font-size: 16px;
        text-align: center;
    }
    .footer>div+div{
        padding-left: 0;
    }
    .sec06-map{
        padding-bottom: 5%;
    }
    .footer>div{
        margin-bottom: 5%;
    }

}
@media(max-width:768px){
    /* menu_box */
    nav li a{ 
        display: none;
    }
    .menu_box{
        height: 0px;
    }

    /* section03 */
    .section03-scroll-down{
        left: 39%;
    }
    /* section05 */
    .sec05-contents{
        flex-direction: column;
    }
    .sec05-contents>div+div{
        margin-left: 0;
        margin-top: 2%;
    }
}
@media(max-width:520px){
    /* section01 */
    .sec01-titlebox{
        padding: 51% 0 65% 0;
    }
    .sec01-titlebox>h2{
        font-size: 32px;
    }
    .sec01-titlebox>h1{
        font-size: 64px;
    }
    /* section03 */
    .section03-scroll-down{
        left: 34%;
    }
    /* section04 */
    .sec04-article{
        flex-direction: column;
    }
    .sec04-article div{
        width:100%;
    }
    .sec04-con-text{
        padding-left: 0%;
        align-items: center;
    }
    .sec04-article>div+div{
        margin-left: 0%;
    }
    /* section05 */
    .sec05-con-text{
        align-items: center;
        padding-left: 0;
    }
}
@media(max-width:425px){
    .section03-scroll-down{
        left: 30%;
    }
}
@media(max-width:400px){
    .rightbox-line{
        width:80%;
    }
}

@media(max-width:375px){
    .section03-scroll-down{
        left: 28%;
    }
}