@font-face { font-family: 'SDKukdetopokki-Lt'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");

body{
	font-family: 'NanumBarunGothic', sans-serif;
}

 /* justify-content: space-between; */


/**메뉴부분 마우스 오버시 색상 **/
.menu_box li a:hover{
	/* border-bottom:3px solid #0c4606; 
	padding-bottom:8px; */
    color:#0c4606;
}
    
    
/* all */
.sec-header{
    text-align: center;
    padding-top: 150px;
}
.maintitle{
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 20px;
}
.subtitle{
    font-size: 26px;
    color: #fff;
    font-weight: 400;
    padding-bottom: 50px;
    line-height: 130%;
}
.wrap{
    width: 66%;
    margin: 0 auto;
}
/* mouse animation */
#mouse{
    position: absolute;
    width: 40px;
    height: 60px;
    border: 4px solid #fff;
    border-radius: 50px;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    z-index: 9;
}
#mouse::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    left: 50%;
    top: 15px;
    margin-left: -6px;
    border-radius: 50%;
    animation: mouse 2s infinite;
    opacity: 1;
}
#mouse>p{
    padding-top: 75px;
    color: #fff;
    font-size: 28px;
    margin-left: -85px;
    width: 300px;
    font-weight: bold;
}
@keyframes mouse{
    0%{
        top: 15px;
        opacity: 1;
    }
    100%{
        top: 30px;
        opacity: 0;
    }
}
/* menu_box */
.menuNav ul:after{
    content: "";
    display: block;
    clear: both;
}
.menuNav li a{
    display: block;
    color: #000000;
}
.menuNav li+li{
    margin-left: 80px;
}
.menu_box{
	width:100%; 
	height:100px; 
	position:fixed;
	background-color: #fff;
	z-index: 99999999999;
}
.header{
    width:66%;
    margin: 0 auto;
}
.logo img{
    height: 91px;
    float: left;
}
.menu_box nav>ul{
    float : right;
}
.menu_box li a{
	color:#000; 
	line-height:100px; 
	font-size: 22px;
    font-family: 'SDKukdetopokki-Lt';
}
.fixed {
    background: rgba(255,255,255,0.6);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.menuBtn, .menuBtn span{
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}
.menuBtn{
    position: relative;
    width: 40px;
    height: 35px;
}
.menuBtn span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
}
.menuBtn span:nth-of-type(1){
    top: 0px;
}
.menuBtn span:nth-of-type(2){
    top: 16px;
}
.menuBtn span:nth-of-type(3){
    bottom: 0;
}

/* .menuBtn.active span:nth-of-type(1){
    transform: translateY(20px) rotate(-45deg);
    -webkit-transform: translateY(20px) rotate(-45deg);
}
.menuBtn.active span:nth-of-type(2){
    opacity: 0;
}
.menuBtn.active span:nth-of-type(3){
    transform: translateY(-20px) rotate(45deg);
    -webkit-transform: translateY(-20px) rotate(45deg);
} */

/* min= 768이 되기전에는~ 하지말아라! */
@media(min-width:1400px){  
    /* 토글 버튼 */
    .menuBtn{
        display: none;
    }

    .menuNav li{
        float: left;
        width:auto
    }
}
@media(max-width:1400px){
    .menu_box{
        height: 40px;
    }
    .menu_box nav>ul{
        background-color: #fff;
    }
    .menuNav{
        display: none;
    }
    .logo{
        display: none;
    }
    .menuNav{
        width: 100%;
        height: auto;
    }
    .menu_box nav>ul{
        float: left !important;
        width: 100%;
    }

    .menuNav li+li{
        margin-left: 0;
    }
    .menuNav li{
        padding-left: 20px;
    }
    .header{
        width:100% !important;
    }
    .menu_box li a{ 
        line-height:50px; 
        font-size: 16px;
    }

}
/* section01 */
.slide-1{
    background: url(../images/section01-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 5%;
}
.slide-2{
    background: url(../images/section01-background2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 5%;
}
.next-btn , .prev-btn{
    color: #fff !important;
}
.sec01-titlebox{
    font-family: 'SDKukdetopokki-Lt';
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 21%;
}
.sec01-titlebox>h2{
    font-size: 60px;
    text-shadow: 1px 1px 1px black;
    padding-bottom: 30px;
}
.sec01-titlebox>h1{
    font-size: 100px;
    text-shadow: 3px 3px 3px black;
    padding-bottom: 15%;
}


/* section02 */

#section02{
    width: 100%;
    height: auto;
    background: url(../images/section02-main.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    padding-bottom: 5%;
}
.sec02-rightbox{
    animation: fadeEffect 1s;
  }
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  } 
.sec02-article{
    padding-bottom: 6%;
}
.con1-tab_box>li{
    margin-bottom: 1.5px;
}
.con1-tab_box>li{
    display: block;
    line-height: 87px;
    background: rgba(0,0,0,0.75);
    color: #fff;
    padding-left: 10%;
    font-size: 22px;
    font-weight: 400;
}
.con1-tab_box>li:first-child{
    display: block;
    line-height: 87px;
    background: rgba(255,255,255,0.9);
    color: #000;
    padding-left: 10%;
    font-size: 22px;
    font-weight: 400;
}
.sec02-article{
    display: flex;
}
.sec02-con1{
    width: 24%;
    height: 441px;
    position: relative;
}
.sec02-leftbox{
    position: absolute;
    width:100%;
}
.sec02-rightbox1{
    width:100%;
    height: 441px;
    background: url(../images/section02-contents01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sec02-rightbox2{
    width:100%;
    height: 441px;
    background: url(../images/section02-contents02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}
.sec02-rightbox3{
    width:100%;
    height: 441px;
    background: url(../images/section02-contents03.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}
.sec02-rightbox4{
    width:100%;
    height: 441px;
    background: url(../images/section02-contents04.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}
.sec02-rightbox5{
    width:100%;
    height: 441px;
    background: url(../images/section02-contents05.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}
.rightbox-line{
    height: 1px;
    background: #fff;
    margin: 29px 0;
    width:28% !important;
}
.sec02-rightbox>h3 , .sec02-rightbox>h5 , .sec02-rightbox>div{
    margin-left: 66%;
}
.sec02-rightbox>h3{
    padding-top: 189px;
}
.right-title{
    font-size: 40px;
    font-family: 'SDKukdetopokki-Lt';
    color: #fff;
}
.right-subtitle{
    font-size: 20px;
    color: #fff;
    line-height: 130%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}



/* section03 */

#section03{
    width:100%;
    height: auto;
    background: url(../images/section03-main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.sec03-article{
    display: flex;
    position: relative;
    padding-bottom: 3%;
}
.subtxt-bg{
    width:45%;
    height: 581px;
    background: #e8e4e1;
    margin-left: 1%;
}

.subtxt-bg li{
    line-height: 53px;
    padding-left: 10%;
    font-size: 18px;
    font-weight: 400;
}
.section03-scroll-down{
    position: absolute;
    top: 89%;
    left: 45%;
}

/* section04 */

#section04{
    width:100%;
    height: auto;
    background: url(../images/section04-main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 10%;
}
.gallery-btn{
    font-size: 60px;
    font-weight: 100;
    color: #fff;
}
.gallery-btn:hover{
    color: green;
}
.sec04-contents{
    display: flex;
}
.gallery{
    width: 100%;
    height: 464px;
    display: flex;
}
.gallery-bg-box{
    width: 100%;
    height: 464px;
    overflow: hidden;
    margin-left: 1%;
}
.gallery-bg-box div{
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all 0.4s ease-in-out;
}
.gallery-bg-box div:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.gallery-bg1{
    width: 100%;
    height: 464px;
    background: url(../images/sec04-con1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.gallery-bg2{
    width: 100%;
    height: 464px;
    background: url(../images/sec04-con2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.gallery-bg3{
    width: 100%;
    height: 464px;
    background: url(../images/sec04-con3.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.gallery-bg4{
    width: 100%;
    height: 464px;
    background: url(../images/sec04-con4.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

  /* section05 */

#section05{
    width:100%;
    height: auto;
    background: url(../images/section05-main-gaussian+.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 9%;
}
.sec05-article{
    display: flex;
}
.section05-gallery {
  position: relative;
  overflow: hidden;
  margin: 10px;
  max-height: 464px;
  width: 402px;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}

.sec05-overlay{
    width: 100%;
    height: 464px;
    background: rgba(0,0,0,0.2);
}
.sec05-bg1{
    width: 100%;
    height: 464px;
    background: url(../images/section05-contents01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sec05-bg2{
    width: 100%;
    height: 464px;
    background: url(../images/section05-contents02.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sec05-bg3{
    width: 100%;
    height: 464px;
    background: url(../images/section05-contents03.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section05-gallery * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.section05-gallery img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}
.section05-gallery .sec05-textbox {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid white;
  border-width: 1px 1px 0;
}
.section05-gallery .heading {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.section05-gallery h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}
.section05-gallery span {
  font-weight: bold;
  font-size: 25px;
}
.section05-gallery h2:before,
.section05-gallery h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}
.section05-gallery h2:before {
  left: -1000%;
}
.section05-gallery h2:after {
  right: -1000%;
}
.section05-gallery p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 16px
}
.section05-gallery a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.sec05-gallery-box:hover .sec05-bg,
.sec05-gallery-box.hover .sec05-bg {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sec05-gallery-box:hover{
    background: rgba(0, 0, 0, 0.8);
}
.sec05-gallery-box:hover .sec05-textbox,
.sec05-gallery-box.hover .sec05-textbox {
  top: 7%;
  bottom: 7%;
}
.sec05-gallery-box:hover p,
.sec05-gallery-box.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}



/* section06 */

#section06{
    width:100%;
    height: auto;
    background: url(../images/section06-main-gaussian+.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.sec06-map{
    padding-bottom: 2%;
}
.footer{
    width:100%;
    display: flex;
    align-items: space-between;
    color: #fff;
    line-height: 130%;
    padding-bottom: 5%;
}
.footer-toptext{
    font-size: 22px;
    padding-bottom: 10px;
}
.footer-bottomtext{
    font-size: 18px;
}
.footer>div+div{
    padding-left: 4.2%;
}


@media(max-width:1400px){
    nav{
        width:95%;
    }
    .slide-1 , .slide2, #section02, #section03, #section05{
        padding-bottom: 10%;
    }
    #section04{
        padding-bottom: 15%;
    }
    /* all */
    .maintitle{
        font-size: 24px;
    }
    .subtitle{
        font-size: 18px;
    }
    .wrap{
        width: 95%;
        margin: 0 auto;
    }
    .sec-header{
        padding-top: 50px;
    }

    /* section01 */

    .sec01-titlebox{
        padding: 26% 0 0 0;
    }
    .sec01-titlebox>h1{
        padding-bottom: 30%;
    }

    /* section02 */
    .sec02-article{
        display: inherit;
    }
    .sec02-con1{
        width: 100%;
        height: auto;
        position: relative;
    }
    .sec02-con1{
        height: 176px;
    }
    .con1-tab_box>li{
        line-height: 40px;
        font-size: 16px;
        float: left;
        margin: 0 1% 1% 0;
        width:46.5%;
        padding-left: 3%;
    }
    .con1-tab_box>li:first-child{
        line-height: 40px;
        font-size: 16px;
        float: left;
        margin: 0 1% 1% 0;
        width: 46.5%;
        padding-left: 3%;
    }
    .con1-tab_box>li:nth-child(2n){
        margin: 0 0 1% 0;
    }
    .right-title{
        font-size: 30px;
    }
    .right-subtitle{
        font-size: 16px;
    }
    .rightbox-line{
        width:50%;
    }


    .rightbox-line{
        height: 1px;
        background: #fff;
        margin: 29px 0;
        width:28% !important;
    }
    .sec02-rightbox>h3 , .sec02-rightbox>h5 , .sec02-rightbox>div{
        margin-left: 3%;
    }

    /* section04 */
    .maintitle>a{
        font-size: 22px;
    }
}

@media(max-width:1000px){
    /* mouse */
    .slide-1 , .slide-2, #section02, #section03,#section05{
        padding-bottom: 15%;
    }
    #section04>#mouse{
        top: 94%;
    }

    /* section03  */

    .sec03-article{
        flex-direction: column;
    }
    .sec03-map>img{
        width:100%;
    }
    .subtxt-bg{
        width:100%;
        height: 300px;
        margin-left: 0;
        overflow: auto;
        margin-bottom: 5%;
    } 
    .subtxt-bg li{
        padding-left: 3%;
        font-size: 16px;
    }
    .subtxt-bg li:nth-last-child(){
        padding-bottom: 5%;
    }

    /* sectioon04 */
    .sec04-contents{
        flex-direction: column;
        height: auto;
    }
    .gallery{
        margin-bottom: 1%;
    }
    .gallery div+div{
        margin-left: 1%;
    }
    .gallery-bg-box{
        width: 100%;
    }
    .gallery>div{
        margin-bottom: 20px;
    }
    .gallery-bg-box{
        margin-left: 0;
    }

    /* section06 */
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-toptext{
        font-size: 18px;
        text-align: center;
    }
    .footer-bottomtext{
        font-size: 16px;
        text-align: center;
    }
    .footer>div+div{
        padding-left: 0;
    }
    .sec06-map{
        padding-bottom: 5%;
    }
    .footer>div{
        margin-bottom: 5%;
    }

}
@media(max-width:768px){
    /* mouse */
    .slide-1 , .slide-2, #section02, #section04, #section05{
        padding-bottom: 18%;
    }
    #section03{
        padding-bottom: 15%;
    }
    #section03>#mouse{
        top: 92%;
    }
    #section04>#mouse{
        top: 93%;
    }
    #mouse{
        width: 30px;
        height: 50px;
    }
    #mouse>p{
        width: 180px;
        font-size: 21px;
        margin-left: -62.5px;
    }

    #section05>#mouse{
        top: 95%;
    }
    /* section01 */
    .slide-2{
        background-position: right center;
    }
    .sec01-titlebox{
        padding: 60% 0 0 0;
    }
    .sec01-titlebox>h1{
        padding-bottom: 34%;
    }
    .sec01-titlebox>h2{
        font-size: 40px;
    }
    .sec01-titlebox>h1{
        font-size: 60px;
    }

    /* section02 */
    .sec02-rightbox2{
        background-position: right center;
    }
    /* section03 */

    .section03-scroll-down{
        left: 39%;
    }

    /* section05 */
    .sec05-article{
        flex-direction: column;
    }
    .section05-gallery {
        width: 100%;
      }
}
@media(max-width:600px){
    .slide-1 , .slide-2, #section02, #section03, #section04, #section05{
        padding-bottom: 21%;
    }

}
@media(max-width:520px){
    /* mouse */
    #mouse{
        width: 20px;
        height: 30px;
        border: 3px solid #fff;
    }
    #mouse::after{
        width: 8px;
        height: 8px;
        margin-left: -3.6px;
    }
    #mouse>p{
        padding-top: 50px;
        color: #fff;
        font-size: 18px;
        margin-left: -59px;
        width: 200px;
        font-weight: bold;
    }
    #section04>#mouse{
        top: 96.5%;
    }
    #section05>#mouse{
        top: 96%;
    }
    #section03>#mouse{
        top: 92%;
    }
    @keyframes mouse{
        0%{
            top: 2px;
            opacity: 1;
        }
        100%{
            top: 17px;
            opacity: 0;
        }
    }
    /* section01 */

    .sec01-titlebox>h2{
        font-size: 30px;
    }
    .sec01-titlebox>h1{
        font-size: 50px;
    }
    
    /* section02 */
    .sec02-rightbox1 , .sec02-rightbox2, .sec02-rightbox3, .sec02-rightbox4, .sec02-rightbox5{
        height: 300px;
    }
    .sec02-rightbox>h3{
        padding-top: 100px;
    }
    .rightbox-line{
        width:55% !important;
    }
    /* section04 */
    .gallery{
        flex-direction: column;
        height: auto;
    }
}
@media(max-width:425px){
    /* mouse */
    .slide-1 , .slide-2, #section02, #section03, #section04, #section05{
        padding-bottom: 25%;
    }
    /* mouse */
    #mouse::after{
        margin-left: -3.6px;
    }
    #mouse>p{
        margin-left: -59px;
    }

    @keyframes mouse{
        0%{
            top: 2px;
            opacity: 1;
        }
        100%{
            top: 17px;
            opacity: 0;
        }
    }
    /* section01 */
    .sec01-titlebox>h2{
        font-size: 25px;
    }
    .sec01-titlebox>h1{
        font-size: 40px;
    }

    /* section02 */

    .rightbox-line{
        width:60% !important;
    }
}
@media(max-width:400px){
    .rightbox-line{
        width:80%;
    }
}

